.inputTask {
  width: 50vw;
  height: 2rem;
  margin: auto;
  margin-top: 1rem;
  display: block;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-color: #303030;
  color: azure;
  transition: height 0.2s ease;
}

.inputTask:active {
  height: 2.2rem;
}
