.ModalBackGround {
  background-color: rgba(81, 1, 81, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: bisque;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  backdrop-filter: blur(4px);
}
